/*.table-category {
  background: #398ffc50;
}

.table-row {
  background: #398ffc;
  color: white;
}

.table-row:hover {
  background: #398ffc80;
}
#selected {
  background: orange;
}
*/

#tableDiv {
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: scroll;
  min-width: 500px;
}

tbody {
  font-size: 13px;
}

td {
  padding: 5px;
}
