section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: flex-end;
  max-height: 70vh;
  box-sizing: border-box;
  max-width: 1000px;
}

#mainApp {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
